
@media (min-width: 1025px) {
  .slidesTrack {
    overflow: visible;
    cursor: auto;
  }

  .slides {
    display: grid;
    gap: 28px;
    margin-top: 35px;
    overflow: visible;
  }
  
  .slide {
    width: auto;
    height: auto;
    flex-shrink: initial;
  }

  .bullets {
    display: none;
  }
}

@media (max-width: 1024px) {
  .bullets {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: none;
  }

  .bullet {
    width: 12px;
    height: 12px;
    background: var(--taupe-gray);
    box-shadow: none;
    border: none !important;

    &:hover,
    &:focus {
      background-color: var(--taupe-gray);
    }
  }

  .bulletActive {
    background-color: var(--jungle-green);

    &:hover,
    &:focus {
      background-color: var(--jungle-green);
    }
  }

  .slides {
    padding: 30px 0;
  }

  .slide {
    height: auto;
  }

  .glide {
    padding: 0 16px;
    overflow: hidden;
  }

  .slidesTrack {
    overflow: visible;
  }
}