@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --bright-gray: #ededed;
  --granite-gray: #65676B;
  --taupe-gray: #878787;
  --jungle-green: #2A9D8F;
}

body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  transform: translate(-50%, -50%);
  background-color: var(--jungle-green);
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}