@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */


  /* --arsenic: #434343;
  --platinum: #E5E5E5;
  --pansy-purple: #7F1D46;
  --cultured: #F6F6F6;
  --indian-red: #D55F5A */
}

body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}