@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --bright-gray: #ededed;
  --granite-gray: #65676B;
  --jungle-green: #2A9D8F;
}

body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
